@using Ovning16_MaskinparkBlazorWASM.MyModels;
@using Machines.Shared.Domain;

@page "/Machines"

<h3>Machines overview</h3>

<table class="table table-light">
    <thead class="table-primary">
        <tr>
            @*<th></th>*@
            <th>Machine Id</th>            
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var machine in Machines)
        {
                <tr>
                    <td>@machine.Id</td>
                    <td>@machine.Name</td>
                    <td>@machine.Description</td>
                    <td>@machine.Status</td>
                    <td> 
                    <NavLink class="nav-link" href="@($"details/{machine.Id}")">
                         Details
                    </NavLink>
                    </td>
                </tr>
        }
    </tbody>

</table>

<!-- CARD VIEW WITH Popup -->

<QuickViewPopup Machine="_selectedMachine"></QuickViewPopup>

<div class="row">
    @foreach (var machine in Machines)
    {
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <MachineCard Machine="machine" MachineQuickViewClicked="ShowQuickViewPopup"></MachineCard>
        </div>

    }
</div>



@code {
    public List<Machine> Machines { get; set; } = default!;

    private Machine? _selectedMachine; //popup

    protected override void OnInitialized()
    {
        Machines = MockDataService.Machine;
    }

    public void ShowQuickViewPopup(Machine selectedMachine)
    {
        _selectedMachine = selectedMachine;
    }


    


}
